/* dark-background
lightdark-background
maincolor-background
light-background
lightest-background */

@font-face {
    font-family: 'montserrat-thin';
    src: url('../fonts/Montserrat/Montserrat-Thin.ttf') format('truetype');
}
@font-face {
    font-family: 'montserrat-regular';
    src: url('../fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
}
.httpexplanation{
    position: absolute;
    font-family: montserrat-thin;
    font-size: 15px;
    font-weight: 100;
    text-align: center;
    top: 94vh;
    margin: 0;
    height: 6vh;
    line-height: 6vh;
    width: 100vw;
}
a.pickscreen1{
    font-family: montserrat-thin;
}
.normaltitle{
    margin-bottom: 100px;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: montserrat-regular;
    font-weight: 400;
    background-color: var(--offwhite);
    color: black;
}
a{
    color: black;
}
.httpstext{
    grid-column: 1 / 6;
}
.toptext{
    height: auto;
    line-height: auto;
    margin: 0;
    margin-top: 50px;
}
.bottext{
    height: auto;
    line-height: auto;
    margin: 0;
}
.colorblocks p.toptext{
    visibility: visible;
}
.colorblocks p.bottext{
    visibility: visible;
}
.centeredflex{
    display: block;
}
.colorblock{
    display: inline-block;
    width: 18vw;
    height: 18vw;
}
.colorblocks p{
    visibility: hidden;
    text-align: center;
}
.colorblocks{
    display: grid;
    position: absolute;
    grid-template-columns: 18vw 18vw 18vw 18vw 18vw;
    grid-template-rows: 18vw 30px;
    width: 90vw;
    margin-left: 5vw;
    height: 18vw;
    box-shadow: -9px 9px 5px -2px rgba(0,0,0,0.4);
}
a:active, a:visited, a:link{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
a.fptitle:active, a.fptitle:hover, a.fptitle:visited, a.fptitle:link, .normaltitle{
    font-family: montserrat-thin;
    font-size: 2rem;
    font-weight: 100;
    text-decoration: none;
}
a.fptitle:hover{
    text-decoration: underline;
}
.centered-fp{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.firstinfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
.firstinfo-container{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 200px 200px 200px;
}
.pickscreen1{
    font-size: 40px;
    font-weight: 400;
    text-align: center;
    height: 50px;
    margin-top: 75px;
}
.develop{
    grid-column-start: 1;
    grid-row-start: 1;
}
.dj{
    grid-column-start: 2;
    grid-row-start: 2;
}
.design{
    grid-column-start: 3;
    grid-row-start: 3;
}
.developsection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
.developsection a{
    margin-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}
.djsection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
.designsection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
.designsection a{
    margin-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}
.contactsection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
.contactsection a{
    margin-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}
#fourback{
    text-decoration: underline;
}
#fourback:hover{
    text-decoration: wavy underline;
}
/* tablet */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    a.fptitle:active, a.fptitle:hover, a.fptitle:visited, a.fptitle:link, .normaltitle{
        font-size: 3rem;
    }
    .firstinfo-container{
        display: grid;
        grid-template-columns: 200px 200px 200px;
        grid-template-rows: 200px 200px 200px;
    }
    .colorblocks p{
        visibility: visible;
        font-size: 15px;
    }
    .httpexplanation{
        font-size: 20px;
    }
}
/* desktop */
@media only screen and (min-width: 1025px) {
    a.fptitle:active, a.fptitle:hover, a.fptitle:visited, a.fptitle:link, .normaltitle{
        font-size: 3rem;
    }
    .firstinfo-container{
        display: grid;
        grid-template-columns: 200px 200px 200px;
        grid-template-rows: 200px 200px 200px;
    }
    .colorblocks p{
        visibility: visible;
        font-size: 15px;
    }
    .colorblock{
        width: 200px;
        height: 200px;
    }
    .colorblocks{
        display: grid;
        position: absolute;
        grid-template-columns: 200px 200px 200px 200px 200px;
        grid-template-rows: 200px 30px 30px;
        width: 1000px;
        margin-left: auto;
        height: 200px;
    }
    .centeredflex{
        display: flex;
        justify-content: center;
        width: 100vw;
    }
    .toptext{
        height: 50px;
        line-height: 50px;
    }
    .bottext{
        height: 50px;
        line-height: 50px;
    }
    .httpexplanation{
        font-size: 25px;
    }
}